* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: #FEFEEB;
}

.line-center {
    height: 0px;
    width: 390px;
    display: flex;
    border: solid 0.1px #4E6B66;
    margin-left: 50px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.menu {
    position: relative;
    width: auto;
    height: 40px;
    margin: 10px 10px 0 40px;
    height: 80px;
    background-color: #FEFEEB;
    justify-content: center;
    align-items: center;


}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A5B3AA;
    height: 93px;

}

#logo_1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 64px;

}

#logo_2 {
    font-family: 'Inria Serif', serif;
    font-weight: normal;
    color: #FEFEEB;
    font-size: 64px;

}

.menu {
    position: relative;
    width: auto;
    height: 40px;
    margin: 10px 10px 0 40px;
    height: 80px;
    background-color: #FEFEEB;
    justify-content: center;
    align-items: center;


}



nav {
    width: 90%;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
}

nav ul {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #4E3F30;
    margin-top: -5px;


}

li a {
    font-size: 24px;
    text-decoration: none;
    color: #4E3F30;
    font-family: Arial, Helvetica, sans-serif;
}

.agende {
    width: 100%;
    height: 347;
    background-color: #4E6B66;
    display: flex;
}

h1 {
    font-family: 'Inria Serif', serif;
    font-size: 80px;
    color: #FFFFFF;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #FFFFFF;
}

.caixac {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
}

.comentarios {
    background-color: #A5B3AA;
    width: 484px;
    height: 334px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div {
    display: flex;
    margin-bottom: 12px;
    margin-left: 24px;
}

.div1 {
    margin-left: 20px;
}

.comen {
    padding: 10px;
    width: 352px;
    height: 60;
    border-radius: 10px;
    color: black;
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.imgco {
    width: 63px;
    height: 63px;
}

.p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding: 5px;
    color: #4E6B66;
    width: 357px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 10px;
    
}

.Faq {
    width: 484px;
    height: 334px;
    border-radius: 10px;
    background-color: #A5B3AA;
    display: flex;
    flex-direction: column;
    padding: 30px;

}
.entre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.tittle {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #4E6B66;
    display: flex;
    justify-content: center;
}

.container-contato{
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    gap: 45px;
}

.cont{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: -35px;
}
.consult-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.consult-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

}
#menu-toggle {
    display: none;
}
#caixadetexto {
    width: 420px;
    height: 59px;
    border-radius: 10px;
    border: none;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
   margin: 10px 0px 0px 7px;
}

.caixa1 {
    width: 420px;
    height: 32px;
    border-radius: 10px;
    border: none;
}
#botao{
    display: flex;
    justify-content: center;
    padding: 5px 20px;
}
.formu{
    margin: 10px;
    
}
.botão {
    width: 96px;
    height: 42px;
    border-radius: 10px;
    border: none;
    background-color: #4E6B66;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    padding: 10px 20px;
        cursor: pointer;
       
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px 0px 50px 0px;
}

/* Estilos adicionais para a seção "Nossos clientes" */
.nossos.clientes {
    max-width: 600px;
    /* Define a largura máxima da seção */
}

/* Estilos adicionais para a seção "FAQ" */
.faq {
    max-width: 600px;
}


footer {
    background-color: #A5B3AA;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 26px;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    width: 291px;
    height: 18px;
    color: black;
    margin: auto;
}