* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Feito por Wilany Moura */
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    color: #FEFEEB;
}
#menu-toggle {
    display: none;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A5B3AA;
    height: 93px;


}

.cabecalho {
    display: flex;
    justify-content: center;

}

.imov {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Arial;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.easy {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Inria Serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav {
    width: 100%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 40px 90px 0px 90px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #4E3F30;
    width: 90%;
}

li a {
    font-size: 24px;
    text-decoration: none;
    color: #4E3F30;
    font-family: Arial, Helvetica, sans-serif;
}


footer {
    position: relative;
    margin-bottom: 0;
    background-color: #A5B3AA;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 26px;

}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    height: 18px;
    color: black;
    margin: auto;
}

.comprovante{
    width: 982px;
    height: 627px;

}
.container{
    padding: 90px ;
    margin-top: 10px;
    width: 100vw;
    height: 820px;
    background-color: #a5b3aacb;
    display: flex;
    
}
.selects{
    height: 71px;
    width: 204px;
    margin: 25px;
    border: none;
    border-radius: 0.5rem;
}